@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.header-rotate {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

@layer components {
  .table-border {
    @apply border border-gray-200 print:border-gray-500;
  }
  .table-bg-accent {
    @apply bg-gray-100 print:bg-gray-200;
  }
  .table-text-sm {
    @apply text-[0.7rem] print:text-[0.7rem];
  }
  .table-text-lg {
    @apply text-lg print:text-base;
  }
  .table-cell-padding {
    @apply px-4 py-2 print:px-2 print:py-1;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media print {
  body {
    margin: 10mm 7mm 10mm 7mm; /* Top, right, bottom, left */
  }

  /* Ensure the date is fixed in the bottom left corner */
  .print-date {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 25px;
    font-size: 12px;
    color: black;
    width: 100%;
    text-align: left;
    z-index: 1000;
  }

  /* Repeat the table header on each new printed page */
  thead {
    display: table-header-group;
  }

  /* Add margin-top to the header on each new page */
  thead tr {
    page-break-before: auto; /* Ensure header starts at the top on a new page */
  }

  /* Add margin to the top of the page after a break */
  table {
    margin-top: 20px; /* Adjust this value as needed for top margin on new pages */
    border-color: white !important;
  }

  .avoid-break {
    page-break-inside: avoid; /* Ensure page break before item_size when printing */
    margin-bottom: 50mm;
  }

  /* Ensure rows don't break inside the middle of content */
  /* tr {
    page-break-inside: avoid;
  } */

  /* Add invisible margin (spacing) before the header when it appears on a new page */
  thead:before {
    content: "";
    display: block;
    height: 20px; /* This adds the invisible margin before the header on new pages */
    margin: 0; /* Ensure no extra margin */
    background: white; /* No background */
    z-index: 20;
  }
}
