altgraph==0.17.4
asgiref==3.8.1
blinker==1.8.2
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Django==5.1
django-cors-headers==4.4.0
djangorestframework==3.15.2
Flask==3.0.3
Flask-Cors==5.0.0
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.1.1
packaging==24.1
pandas==2.2.2
pefile==2024.8.26
pillow==10.4.0
psutil==6.0.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pystray==0.19.5
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==74.0.0
six==1.16.0
sqlparse==0.5.1
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.4
